body {
  padding: 0;
  margin: 0;
  background-color: #f1f1f1;
  font-family: Raleway, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

#header {
  text-align: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

span {
  background-color: #000000da;
  color: white;
  padding: 4px;
}

.container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  max-width: 93vw;
  overflow: hidden;
}

#content {
  background-color: #f1f1f1;
  display: grid;
  grid-template-columns: auto auto;
  gap: 25px;
}

.wood {
  width: 60vw;
  margin-bottom: 5px;
}

.big {
  display: block;
  width: 100%;
  box-shadow: 3px 2px 5px 2px #ece9e9d2;
  margin-top: 1px;
}

figcaption {
  box-shadow: 1px 2px 2px 2px #ece9e9d2;
}

.avatar {
  display: block;
  width: 100%;
  box-shadow: 2px 2px 2px 2px #ece9e9d2;
}

.adjust {
  display: block;
  width: 100%;
}

.woman {
  width: 100%;
  margin: 0;
  padding: 0;
}

.right-column {
  margin-top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 95%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.col-footer1 {
  display: flex;
  justify-content: space-between;
}

.comments {
  display: flex;
  flex-direction: column;
}

.comments span {
  border-radius: 50%;
}

.adjust figcaption,
.wood figcaption {
  display: block;
  background-color: white;
  padding: 10px 17px 20px 
}

.wood h2 {
  font-size: 25px;
  font-weight: 400;
  margin: 5px;
}

.figcaption p {
  line-height: 25px;
}

.picture {
  width: 50px;
  text-align: center;
}

.post {
  display: block;
  background-color: #f1f1f1;
  border-left: #f1f1f1 !important;
  border-right: #f1f1f1 !important;
  border-top: #f1f1f1 !important;
  width: 100%;
  box-shadow: 3px 2px 2px 2px #ece9e9d2;
  margin-top: 30px;
  padding-top: 16px;
  border: 20px;
}

.post p {
  border-bottom: 1px solid lightgray;
  padding: 8px 16px;
  padding-top: 5px !important;
  padding-bottom: 16px !important;
}

.post h2 {
  font-size: 15px;
  font-weight: 100;
  margin: 5px;
  padding-left: 10px;
}

.popular {
  background-color: white;
}

.popular p {
  display: flex;
  gap: 1vw;
}

.tag {
  display: block;
  background-color: #f1f1f1;
  border: 1px solid gray;
  width: 100%;
  height: 20vh;
  box-shadow: 3px 2px 3px 2px #ece9e9d2;
  margin-top: 30px;
}

.tag h2 {
  font-size: 15px;
  font-weight: 150;
  margin: 5px;
  padding-left: 10px;
}

.button {
  background-color: #fff;
  display: inline-block;
  padding: 10px 14px 10px 10px;
}

.popular :hover {
  background-color: gray;
  color: #fff;
}

footer {
  background-color: gray;
  width: 100%;
  height: 25vh;
  margin-top: 5vh;
}

footer .greycolor {
  height: 3rem;
  margin: 15px 0;
  background-color: gray important;
  color: #808080ea;
  padding: 15px 20px;
  font-size: 15px;
}

footer .greycolor:hover {
  color: azure;
  background-color: lightgray;
}

footer .blackcolor {
  height: 3rem;
  margin: 15px 0;
  background-color: black;
  color: white;
  padding: 15px;
}

footer .blackcolor:hover {
  color: black;
  background-color: lightgray;
}

.tag button {
  margin: 3px;
  padding: 2px;
}

.foot {
  margin-left: 30px;
}

@media only screen and (max-width: 768px) {
  #container {
    margin: 0;
    max-width: 100%;
  }

  #content {
    grid-template-columns: auto;
  }

  .wood {
    width: 100%;
  }

  .tag {
    height: 30vh;
  }
}

